.contact-container {
  @include flex(center, center, column);
  min-height: 100vh;
  form {
    @include flex(flex-start, stretch, column);
    width: 40%;
    background: $secondary-background;
    padding: 4rem;
    border-radius: 2rem;
    gap: 2rem;
  }
  h2 {
    margin-bottom: 5rem;
  }
  input,
  textarea {
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
  }
  .error-text {
    color: red;
    font-size: 1.3rem;
  }
  span {
    font-size: 1.3rem;
  }

  @include tablet {
    padding: 0rem 2rem;
    form {
      width: 100%;
    }
  }
}
