.home-container {
  min-height: 90vh;
  display: flex;
  padding: 8rem 4rem;
}

.arrow-down {
  text-align: center;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  @include mobile {
    display: none;
  }
}

.home-information {
  @include flex(center, flex-start, column);
  flex: 1 1 auto;
  padding: 0rem 5rem;
  h2 {
    font-size: 5rem;
    padding: 2rem 0rem;
    color: $accent-color;
  }
  .get-in-touch {
    margin-top: 10rem;
    background: transparent;
    border: 2px solid $accent-color;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    color: white;
  }

  @include mobile {
    align-items: center;
    text-align: center;
  }
}
.home-image {
  flex: 1 1 40rem;
  svg {
    max-height: 100%;
    max-width: 100%;
  }
  @include mobile {
    display: none;
  }
}
.home-social {
  @include flex(center, center, column);
  gap: 2rem;
  z-index: 10;
  padding-left: 4rem;
  @include mobile {
    display: none;
  }
}
