.nav-container {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
  left: 0;
  background: $background-color;
  z-index: 15;
}
nav {
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto;
  min-height: 10vh;
  img {
    width: 5rem;
    border-radius: 50%;
    margin-right: 2rem;
    cursor: pointer;
  }
}

.logo {
  @include flex(flex-start, center, row);
  flex: 1;
  h2 {
    color: white;
  }
  p {
    margin-right: 2rem;
  }
  span {
    color: $accent-color;
  }
  @include mobile {
    h2 {
      font-size: 2rem;
    }
    img {
      display: none;
    }
  }
}

@include mobile {
  .opened {
    transform: translatey(0%);
    transition: 0.5s;
  }

  .closed {
    transform: translatey(-100%);
    transition: 0.5s;
  }
}

.nav-items {
  @include flex(space-around, center, row);
  flex: 1;
  a {
    color: white;
  }
  span {
    color: $accent-color;
  }
  @include mobile {
    @include flex(space-around, center, column);
    top: 0;
    left: 0;
    background: $background-color;
    width: 100%;
    height: 100%;
    position: fixed;
  }
}

.hamburger-menu {
  display: none;
  @include mobile {
    display: block;
    z-index: 15;
  }
}

.hamburger-line {
  stroke: $accent-color;
  stroke-width: 3;
  stroke-linecap: round;
}
