$header1: 4rem;
$header2: 3.5rem;
$header3: 2.5rem;
$header4: 2rem;
$text: 1.6rem;
$gradient: linear-gradient(to left, #38d39f, #28a4d3);
$background-color: #14141b;
$secondary-background: #252531;
$accent-color: #38d39f;
$gray-text: #2c2c2c;

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@import "media-queries";
@import "global";
@import "home";
@import "navbar";
@import "about";
@import "experience";
@import "projects";
@import "modal";
@import "contact";

// @media screen and (max-width: 915px) {
//   .home-image {
//     display: none;
//   }
// }

// @media screen and (max-width: 750px) {
//   .arrow-down {
//     display: none;
//   }
//   .home-social {
//     display: none;
//   }
//   .code-description {
//     text-align: center;
//     img {
//       width: 500px;
//     }
//   }
//   .about-text {
//     h2 {
//       text-align: center;
//     }
//   }
// }

// @media screen and (max-width: 400px) {
//   .about-text {
//     padding: 0;
//   }
//   .code-description {
//     display: none;
//   }
//   .about-container {
//     svg {
//       display: none;
//     }
//   }
// }
